*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
}

.fallback-ui {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > h1 {
    color: steelblue;
    -webkit-margin-after: 1rem;
    margin-block-end: 1rem;
  }

  > pre {
    font-size: 1rem;
    -webkit-margin-after: 1rem;
    margin-block-end: 1rem;
    white-space: pre-wrap;
  }
}

.error-link {
  color: #fff;
  background-color: steelblue;
  padding: 1rem 0.8rem 1rem 0.8rem;
  border-radius: 8px;

  &:hover {
    background-color: rgb(47, 97, 137);
    transition: background-color 3s ease-in;
    color: #fff;
  }
}

@media (max-width: 480px) {
  .fallback-ui {
    text-align: center;

    > h1 {
      font-size: 2rem;
    }
  }
}
