/* Reset some default styles for better presentation */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container for the navigation */
nav {
  background-color: steelblue;
  color: #fff;
  padding-block: 1rem;
  padding-inline: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  > h1 {
    font-size: 2.5rem;
    padding: 0.5rem;
    margin: 0;
  }
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;

  > li {
    background-color: transparent;

    &:hover {
      background-color: #6699cc;
    }
  }
}

.menu-toggle {
  display: none;
}

nav li {
  margin: 0 1rem; /* Add some space between nav items */
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem; /* Increase font size for better readability */
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth hover effect */
}

nav a:hover {
  color: #fff; /* Change color on hover */
   transform: scale(1.1); /* Scale effect */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: center; /* Center the items */
    transition: max-height 0.3s ease; /* Animation for dropdown */
    max-height: 0;
    overflow: hidden;
  }

  nav li {
    margin-bottom: 1rem; /* Add margin between list items */
  }

  nav ul.open {
    max-height: 200px; /* Expand height when menu is open */
  }
  .menu-toggle {
    display: block;
    cursor: pointer;
    text-align: center;
    margin: 1rem;
  }
}
