/* Reset some default styles for better presentation */
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
p {
  margin-bottom: 1rem;
}

/* Container for Home component */

div {
  /* width: 100%;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  border: 1px solid steelblue;
  border-radius: 8px; */
}

/* Home Container */
.home-container {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;

  > h1 {
    text-align: center;
    margin-block-end: 2rem;
  }
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-block-end: 2rem;
}

/* Add Todo button */
.add-todo {
  background-color: steelblue;
  color: white;
  border: none;
  padding: 0.9rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  outline: none;
}

/* sort Todo */
.sort-todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-block-end: 2rem;
}

/* Loader animation */
.loader {
  text-align: center;
  font-size: 1.5rem;
  color: steelblue;
}

.error {
  text-align: center;
  font-size: 1.5rem;
  color: red;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 1rem;
  padding: 1rem;
  /* background-color: #f3181825; */

  border-radius: 4px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #00bcd4;
}

/* Pagination buttons styling */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

button {
  background-color: steelblue;
  color: white;
  border: none;
  padding: 0.5rem 0.7rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0077b6;
}

span {
  margin: 0 0rem;
  font-size: 1rem;
  color: #555;
}

input,
select {
  padding: 0.5rem;
  border: 1px solid steelblue;
  border-radius: 4px;
  margin-right: 1rem;
  background-color: #f4f4f4;
  width: 46%;
  color: #333;
  padding: 15px;
  height: 48px;
}

.edit {
  margin-left: 0.2em;
  font-size: small;
}
.save {
  margin-right: 0.5em;
}

@media (max-width: 768px) {
  div {
    padding: 1rem;
  }

  input,
  select {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
